In [280]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="darkgrid")

In [281]:
df = pd.read_csv('sensorData01.csv')

In [282]:
df.head()

           Time  Temperature  Capacitive Reading
0  1.741394e+09         29.1                 362
1  1.741394e+09         29.0                 361
2  1.741394e+09         29.1                 361
3  1.741394e+09         29.3                 361

In [283]:
df.columns = ['Time in Millisecond Since UTC Epoch', 'Temperature in Celsius', 'Capacitive Reading']

In [284]:
df.head()

,Time in Millisecond Since UTC Epoch,Temperature in Celsius,Capacitive Reading
0,1.741394e+09,29.1,362
1,1.741394e+09,29.0,361
2,1.741394e+09,29.1,361
3,1.741394e+09,29.3,361

In [285]:
df.tail()

,Time in Millisecond Since UTC Epoch,Temperature in Celsius,Capacitive Reading
0,1.741394e+09,29.1,362
1,1.741394e+09,29.0,361
2,1.741394e+09,29.1,361
3,1.741394e+09,29.3,361

In [286]:
df2 = pd.read_csv('plantDatabase.csv')

In [287]:
df2.head()

,Unnamed: 0,Jersey-Friendly Yards Plant Database,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,#,Name,Common Name,Type,New Jersey Native,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
1,1,Pycnanthemum tenuifolium,Narrowleaf Mountain mint,Flower_Perennial,Yes,Clay,Dry_Moist,Acidic_SlightlyAcidic,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
2,2,Achillea spp.,Yarrow,Flower_Perennial,No,Loam_Organic_Sandy,Dry,Acidic_SlightlyAcidic_Neutral,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
3,3,Aesculus flava,Yellow Buckeye,Tree,Yes,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral_SlightlyAlkaline,Low,FullSun,FullSun_PartialShade,6a_6b_7a_7b
4,4,Begonia cultivars,Begonia,Flower_Annual,No,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral,Medium,PartialShade,FullSun_PartialShade_Shade,6a_6b_7a_7b

In [288]:
df2.columns = ['#', 'Name', 'Common Name', 'Type', 'New Jersey Native?', 'Soil Type', 'Soil Moisture', 'Soil pH', 'Drought Tolerance', 'Optimal Light', 'Light Range', 'Hardiness Zone']

In [289]:
df2.head()

,#,Name,Common Name,Type,New Jersey Native?,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
0,#,Name,Common Name,Type,New Jersey Native,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
1,1,Pycnanthemum tenuifolium,Narrowleaf Mountain mint,Flower_Perennial,Yes,Clay,Dry_Moist,Acidic_SlightlyAcidic,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
2,2,Achillea spp.,Yarrow,Flower_Perennial,No,Loam_Organic_Sandy,Dry,Acidic_SlightlyAcidic_Neutral,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
3,3,Aesculus flava,Yellow Buckeye,Tree,Yes,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral_SlightlyAlkaline,Low,FullSun,FullSun_PartialShade,6a_6b_7a_7b
4,4,Begonia cultivars,Begonia,Flower_Annual,No,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral,Medium,PartialShade,FullSun_PartialShade_Shade,6a_6b_7a_7b

In [290]:
df3 = df2.drop(df2.index[0])

In [291]:
df3.head()

,#,Name,Common Name,Type,New Jersey Native?,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
1,1,Pycnanthemum tenuifolium,Narrowleaf Mountain mint,Flower_Perennial,Yes,Clay,Dry_Moist,Acidic_SlightlyAcidic,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
2,2,Achillea spp.,Yarrow,Flower_Perennial,No,Loam_Organic_Sandy,Dry,Acidic_SlightlyAcidic_Neutral,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
3,3,Aesculus flava,Yellow Buckeye,Tree,Yes,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral_SlightlyAlkaline,Low,FullSun,FullSun_PartialShade,6a_6b_7a_7b
4,4,Begonia cultivars,Begonia,Flower_Annual,No,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral,Medium,PartialShade,FullSun_PartialShade_Shade,6a_6b_7a_7b
5,5,Brassica oleracea,Ornamental Cabbage,Flower_Annual,No,Loam_Organic,Moist_Wet,Slightly Acidic_Neutral_SlightlyAlkaline,NaN,FullSun,FullSun,6a_6b_7a_7b

In [292]:
df4 = df3.drop(columns=['#'])

In [293]:
df4.head()

,Name,Common Name,Type,New Jersey Native?,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
1,Pycnanthemum tenuifolium,Narrowleaf Mountain mint,Flower_Perennial,Yes,Clay,Dry_Moist,Acidic_SlightlyAcidic,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
2,Achillea spp.,Yarrow,Flower_Perennial,No,Loam_Organic_Sandy,Dry,Acidic_SlightlyAcidic_Neutral,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
3,Aesculus flava,Yellow Buckeye,Tree,Yes,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral_SlightlyAlkaline,Low,FullSun,FullSun_PartialShade,6a_6b_7a_7b
4,Begonia cultivars,Begonia,Flower_Annual,No,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral,Medium,PartialShade,FullSun_PartialShade_Shade,6a_6b_7a_7b
5,Brassica oleracea,Ornamental Cabbage,Flower_Annual,No,Loam_Organic,Moist_Wet,Slightly Acidic_Neutral_SlightlyAlkaline,NaN,FullSun,FullSun,6a_6b_7a_7b

In [294]:
len(df4)

20

In [295]:
dbfinal = df4

In [296]:
dbfinal.head()

,Name,Common Name,Type,New Jersey Native?,Soil Type,Soil Moisture,Soil pH,Drought Tolerance,Optimal Light,Light Range,Hardiness Zone
1,Pycnanthemum tenuifolium,Narrowleaf Mountain mint,Flower_Perennial,Yes,Clay,Dry_Moist,Acidic_SlightlyAcidic,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
2,Achillea spp.,Yarrow,Flower_Perennial,No,Loam_Organic_Sandy,Dry,Acidic_SlightlyAcidic_Neutral,High,FullSun,FullSun_PartialShade,6a_6b_7a_7b
3,Aesculus flava,Yellow Buckeye,Tree,Yes,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral_SlightlyAlkaline,Low,FullSun,FullSun_PartialShade,6a_6b_7a_7b
4,Begonia cultivars,Begonia,Flower_Annual,No,Loam_Organic_Sandy,Dry_Moist,Acidic_SlightlyAcidic_Neutral,Medium,PartialShade,FullSun_PartialShade_Shade,6a_6b_7a_7b
5,Brassica oleracea,Ornamental Cabbage,Flower_Annual,No,Loam_Organic,Moist_Wet,Slightly Acidic_Neutral_SlightlyAlkaline,NaN,FullSun,FullSun,6a_6b_7a_7b

In [297]:
s1 = df

In [298]:
s1.head()

,Time in Millisecond Since UTC Epoch,Temperature in Celsius,Capacitive Reading
0,1.741394e+09,29.1,362
1,1.741394e+09,29.0,361
2,1.741394e+09,29.1,361
3,1.741394e+09,29.3,361

In [299]:
s1.dtypes

Time in Millisecond Since UTC Epoch    float64
Temperature in Celsius                 float64
Capacitive Reading                       int64
dtype: object

In [300]:
dbfinal.dtypes

Name                  object
Common Name           object
Type                  object
New Jersey Native?    object
Soil Type             object
Soil Moisture         object
Soil pH               object
Drought Tolerance     object
Optimal Light         object
Light Range           object
Hardiness Zone        object
dtype: object

In [301]:
import numpy as np

In [302]:
conditions = [
    (s1['Capacitive Reading'] <= 650),
    (s1['Capacitive Reading'] > 650) & (s1['Capacitive Reading'] <= 1100),
    (s1['Capacitive Reading'] > 1100) & (s1['Capacitive Reading'] <= 1550),
    (s1['Capacitive Reading'] > 1550)
]

values = ['Dry', 'Dry_Moist', 'Moist', 'Moist_Wet']

s1['Soil Moisture'] = np.select(conditions, values, default=pd.NaT)

s1.head()

,Time in Millisecond Since UTC Epoch,Temperature in Celsius,Capacitive Reading,Soil Moisture
0,1.741394e+09,29.1,362,Dry
1,1.741394e+09,29.0,361,Dry
2,1.741394e+09,29.1,361,Dry
3,1.741394e+09,29.3,361,Dry

In [303]:
s1.dtypes

Time in Millisecond Since UTC Epoch    float64
Temperature in Celsius                 float64
Capacitive Reading                       int64
Soil Moisture                           object
dtype: object

In [304]:
#extract an array of plants that have the specified soil moisture from the plant database, 
#and store the array into the respective lists

dryplants = dbfinal.loc[dbfinal['Soil Moisture'] == 'Dry', 'Common Name']
print(dryplants)

drymoist = dbfinal.loc[dbfinal['Soil Moisture'] == 'Dry_Moist', 'Common Name']
print(drymoist)

moistplants = dbfinal.loc[dbfinal['Soil Moisture'] == 'Moist', 'Common Name']
print(moistplants)

moistwet = dbfinal.loc[dbfinal['Soil Moisture'] == 'Moist_Wet', 'Common Name']
print(moistwet)

2                  Yarrow
8       Black Huckleberry
10     Lindheimerâ€™s Muhly
11        Little Bluestem
13    Japanese Tree Lilac
15             Arborvitae
17      Lowbush Blueberry
20                 Zinnia
Name: Common Name, dtype: object
1     Narrowleaf Mountain mint
3               Yellow Buckeye
4                      Begonia
9             Spotted Geranium
16           American Basswood
18           New York Ironweed
19                   Arrowwood
Name: Common Name, dtype: object
14    King of the Meadow
Name: Common Name, dtype: object
5     Ornamental Cabbage
6       Crested Woodfern
7             Sweetbells
12             Woolgrass
Name: Common Name, dtype: object

In [305]:
con2 = [
    (s1['Soil Moisture'] == 'Dry'),
    (s1['Soil Moisture'] == 'Dry_Moist'),
    (s1['Soil Moisture'] == 'Moist'),
    (s1['Soil Moisture'] == 'Moist_Wet')
]

#convert the lists of plants with a specified soil moisture into strings so they  
#can be returned as recommendations in a new column of the soil moisture dataframe

dpst = " ".join(str(x) for x in dryplants)
dmst = " ".join(str(x) for x in drymoist)
mpst = " ".join(str(x) for x in moistplants)
mwst = " ".join(str(x) for x in moistwet)

val2 = [dpst, dmst, mpst, mwst]

s1['Plant Recommendations'] = np.select(con2, val2, default=pd.NaT)
s1.head()

,Time in Millisecond Since UTC Epoch,Temperature in Celsius,Capacitive Reading,Soil Moisture,Plant Recommendations
0,1.741394e+09,29.1,362,Dry,Yarrow Black Huckleberry Lindheimerâ€™s Muhly Li...
1,1.741394e+09,29.0,361,Dry,Yarrow Black Huckleberry Lindheimerâ€™s Muhly Li...
2,1.741394e+09,29.1,361,Dry,Yarrow Black Huckleberry Lindheimerâ€™s Muhly Li...
3,1.741394e+09,29.3,361,Dry,Yarrow Black Huckleberry Lindheimerâ€™s Muhly Li...

In [306]:
for i in s1['Plant Recommendations']:
    if i == dpst:
        print(dryplants)
    elif i == dmst:
        print (drymoist)
    elif i == mpst:
        print (moistplants)
    elif i == mwst:
        print (moistwet)

2                  Yarrow
8       Black Huckleberry
10     Lindheimerâ€™s Muhly
11        Little Bluestem
13    Japanese Tree Lilac
15             Arborvitae
17      Lowbush Blueberry
20                 Zinnia
Name: Common Name, dtype: object
2                  Yarrow
8       Black Huckleberry
10     Lindheimerâ€™s Muhly
11        Little Bluestem
13    Japanese Tree Lilac
15             Arborvitae
17      Lowbush Blueberry
20                 Zinnia
Name: Common Name, dtype: object
2                  Yarrow
8       Black Huckleberry
10     Lindheimerâ€™s Muhly
11        Little Bluestem
13    Japanese Tree Lilac
15             Arborvitae
17      Lowbush Blueberry
20                 Zinnia
Name: Common Name, dtype: object
2                  Yarrow
8       Black Huckleberry
10     Lindheimerâ€™s Muhly
11        Little Bluestem
13    Japanese Tree Lilac
15             Arborvitae
17      Lowbush Blueberry
20                 Zinnia
Name: Common Name, dtype: object